/* --------------- VARIABLES ------------------ */

:root {
    --bg-color: rgb(32, 32, 32);
    --font-color: rgb(200, 200, 200);
    --font-20-color: rgba(200, 200, 200, 0.2);
    --contrast-color: rgb(2, 103, 193);
    --win-color: rgb(50, 159, 91);
    --bet-color: rgb(244, 34, 114);
}

/* --------------- GLOBAL ------------------ */

html,
body {
    width: 100%;
    height: 100dvh;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-bottom: 0;
}

hr {
    border-color: var(--font-color);
    margin: 0.5em 0;
}

.cursor-pointer {
    cursor: pointer;
}

/* --------------- SPECIFIC ------------------ */

.progress {
    padding: 0;
    border-radius: 0;
    height: 5px;
    background-color: var(--contrast-color);
}

.bet-option {
    border: thin solid var(--contrast-color);
    border-radius: 0.5em;
}
.bet-option.winner {
    border-color: var(--win-color);
}

.money-stats {
    height: 5rem;
}
.money-stats .participant > * {
    border-color: var(--bg-color);
    border-style: solid;
    border-width: 0;
    border-left-width: thin;
    border-right-width: thin;
    transition: height 200ms ease;
}
.money-stats .participant .bet-money {
    background-color: var(--bet-color);
}
.money-stats .participant .money {
    background-color: var(--contrast-color);
}
.money-stats .participant.winner .money {
    background-color: var(--win-color);
}
.money-stats .participant.active .bet-money,
.money-stats .participant.active .money {
    border-color: var(--font-color);
}
.money-stats .participant.active .money {
    border-bottom-width: thin;
}

.stats-details {
    border-width: 0;
    border-style: solid;
    border-color: var(--contrast-color);
    border-left-width: thin;
    border-right-width: thin;
}
.stats-details:last-child {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom-width: thin;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.text-win {
    color: var(--win-color);
}
.text-lose {
    color: var(--bet-color);
}

.history-entry:not(:last-child) {
    border-bottom: thin solid var(--font-20-color);
}

.arrow {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border: 0 solid var(--font-color);
    border-top-width: 0.2rem;
    border-left-width: 0.2rem;
    transform: rotate(45deg) translate(25%, 25%);
}
.arrow.reverse {
    transform: rotate(-135deg) translate(10%, 10%);
}

.fake-btn {
    border: thin solid var(--font-color);
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 50%,
        var(--bg-color) 100%
    );
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s;
}
.fake-btn:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
